<nav class="nav-menu">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        <span>首頁</span>
    </NavLink>
    <NavLink class="nav-item" href="/tasks">
        <span>任務中心</span>
    </NavLink>
    <NavLink class="nav-item" href="/deployments">
        <span>部署紀錄</span>
    </NavLink>
    <NavLink class="nav-item" href="/projects">
        <span>專案管理</span>
    </NavLink>
    <NavLink class="nav-item" href="/agents">
        <span>Agent 設定</span>
    </NavLink>
    <NavLink class="nav-item" href="/office">
        <span>Team Office</span>
    </NavLink>
</nav>
